<%= stylesheet_link_tag 'responses_already_answer' %>

<h1 class='rated'>
  <div>You already rated today</div>
  <div>Left tomorrow rating for tomorrow you</div>
  <div>^_^</div>
</h1>

<div class='past_rating'>
  <%= link_to'For now, you can view your past rating here', responses_path %>
</div>
