<h1 class='question'><%= @question.prompt %></h1>

<div class='choices'>
  <span><%= image_tag 'happy_face.png', class: 'choice' %></span>
  <span><%= image_tag 'straight_face.png', class: 'choice' %></span>
  <span><%= image_tag 'sad_face.png', class: 'choice' %></span>
</div>
